html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  &.noscroll {
    overflow: hidden;
  }
}

h1 {
  color: $gray;
  font-weight: bold;
  @include breakpoint-up(medium) {
    line-height: 5rem;
  }
}

h2 {
  color: $dark-blue;
  font-weight: bold;
  //line-height: 2.25rem;
}

h3 {
  color: $light-blue;
  font-weight: bold;
  font-size: $font-m-small;
  @include breakpoint-up(medium) {
    font-size: $font-d-normal;
  }
  @include breakpoint-up(xlarge) {
    line-height: 3rem;
    font-size: $font-d-normal;
  }
  @include breakpoint-up(xxlarge) {
    font-size: $font-d-big;
  }
}

h4 {
  color: $white;
  font-weight: bold;
  font-size: $font-m-normal;
  @include breakpoint-up(medium) {
    font-size: $font-d-normal;
  }
  @include breakpoint-up(xlarge) {
    line-height: 3rem;
    font-size: $font-d-normal;
  }
  @include breakpoint-up(xxlarge) {
    font-size: $font-d-big;
  }
}

p {
  color: #f6f6f6;
  font-size: $font-m-small;
  line-height: 1.5rem;
  @include breakpoint-up(medium) {
    font-size: $font-d-normal;
  }
  @include breakpoint-up(xlarge) {
    line-height: 2.9rem;
    //font-size: $font-d-small;
  }
  @include breakpoint-up(xxlarge) {
    font-size: $font-d-big;
  }
}

//download buttons

.download-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 11rem;
  height: 3.3rem;
  border-radius: $border-radius-button;
  font-weight: bold;
  line-height: 1rem;
  font-size: 1.7145rem;
  text-align: center;
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
.play-store {
  background-color: #000;
  color: #fff;
  text-align: left;
  border: 1px solid #fff;
  box-shadow: 1px 1px 2px #fff;
  @include breakpoint-up(medium) {
    border: 0px;
  }
  p {
    line-height: 1.1rem;
    &:nth-child(1) {
      font-size: 0.6rem;
      font-weight: 500;
    }
    &:nth-child(2) {
      font-size: 1.05rem;
    }
  }
  img {
    width: 30px;
    height: 30px;
  }
}
.huawei-store {
  background-color: #fff;
  color: #000;
  text-align: left;
  border: 1px solid #fff;
  box-shadow: 1px 1px 2px #fff;
  @include breakpoint-up(medium) {
  }
  p {
    line-height: 1.1rem;
    &:nth-child(1) {
      font-size: 0.6rem;
      font-weight: 500;
    }
    &:nth-child(2) {
      font-size: 1.05rem;
    }
  }
  img {
    width: 30px;
    height: 30px;
  }
}
