.download-app-section {
  background-color: $dark-blue;
  min-height: 32.25rem;
  text-align: center;
  margin-top: 50px;
  position: relative;
  scroll-margin-top: 120px;
  @include breakpoint-up(medium) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url("../../img/fiminn-background.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      opacity: 0.45;
    }

    //min-height: 48.375rem;
  }
  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: inherit;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint-up(medium) {
      max-width: 1040px;
    }
    &-texts {
      margin-left: 20px;
      margin-right: 20px;
      h4 {
        color: #fff;
      }
      p {
        margin-top: 10px;
        margin-bottom: 60px;
        @include breakpoint-up(medium) {
        }
      }
      &-mobile-text {
        display: block;
        color: $light-gray;
        @include breakpoint-up(medium) {
          display: none;
          color: #fff;
        }
      }
      &-desktop-text {
        display: none;
        color: $light-gray;
        @include breakpoint-up(medium) {
          display: block;
          color: #fff;
        }
      }
    }

    &-buttons {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      a {
        &:nth-child(2) {
          p {
            color: #000;
          }
        }
      }
      @include breakpoint-up(medium) {
        flex-direction: row;
      }
    }
  }
}
