.footer {
  height: 13.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  @include breakpoint-up(medium) {
    flex-direction: row;
  }
  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    @include breakpoint-up(medium) {
      display: block;
      height: 120px;
    }
  }
  &-social {
    display: flex;
    gap: 24px;
  }
  &-copyright {
    font-size: 14px;
    @include breakpoint-up(medium) {
    }
  }
}
