.active-header {
  background-color: #fdfdfd;
}
.header {
  min-height: $header-height-mobile;
  background-color: $navigation-background;
  position: sticky;
  top: 0;
  transition: all 0.3s;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid #fff;
  @include breakpoint-up(medium) {
    min-height: $header-height-desktop;
    border-bottom: 0px;
  }
  &-container {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    @include breakpoint-up(medium) {
      padding-right: 32px;
      padding-left: 32px;
    }
  }
  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 44px;
      @include breakpoint-up(medium) {
        height: 82px;
      }
    }
  }
  &-switch {
    cursor: pointer;
    padding: 8px;
    @include breakpoint-up(medium) {
      display: none;
    }
    > span {
      display: block;
      width: 22px;
      height: 2px;
      background-color: $hamburger-color;
      transition: all $hamburger-duration ease-in-out;
      transform-origin: 1px 1px;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
    &.open {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }
  &-overlay {
    z-index: -2;
    opacity: 0;
    position: fixed;
    top: $header-height-mobile;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient($overlay-blue, transparent);
    visibility: hidden;
    @include breakpoint-up(medium) {
      top: $header-height-desktop;
      display: none;
    }
  }
  .overlay-show {
    opacity: 1;
    visibility: visible;
  }
  .nav-show {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    //transition: 0.2s;
  }
  &-nav {
    opacity: 0;
    transition: $navigation-transition;
    transform: translateX(20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: calc(#{$header-height-mobile} + 16px);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    background-color: $navigation-background;
    color: $white;
    font-weight: 900;
    visibility: hidden;
    @include breakpoint-up(medium) {
      visibility: visible;
      font-size: 1.3rem;
      opacity: 1;
      transform: translateX(0%);
      transition: 0s;
      flex-direction: row;
      align-items: flex-start;
      position: static;
      top: 0;
      width: auto;
      margin-left: 0;
      margin-right: 0;
      border-radius: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      left: 0;
      right: 0;
      //background-color: #fff;
    }
    :nth-child(1) {
      //color: $light-blue;
    }
    :nth-child(4) {
      background-color: #fff;
      color: $light-blue;
      border-radius: 6px;
      width: auto;
      padding-left: 10px;
      padding-right: 10px;
      &:hover {
        background-color: #fff;
        color: $light-blue;
      }
    }
    .active-item {
      color: $light-blue;
    }
    a {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: $finger-size;
      margin-top: 6px;
      margin-bottom: 6px;
      &:hover {
        color: $light-blue;
      }
      @include breakpoint-up(medium) {
        width: auto;
        padding-right: 20px;
        padding-left: 20px;
        margin-right: 6px;
        margin-left: 6px;
        :not(:last-child) {
          margin-left: $gutter-desktop;
          margin-right: $gutter-desktop;
        }
      }
    }
  }
}
